h1{font-size: 35px;}
h2 {color: brown; font-family: Arial;}
p {align-text: center;}
img {width: 400px; height: 400px; margin:80px;}
body {background-color: beige;}
img.logos {width:200px; height:200px; background-color: white;}
button {color: green; background-color: light green; font-family: Courier}
img.display {display: block; margin-left: auto; margin-right: auto; }